header {
  position: relative;
    .logo {
      background-image: url("../images/logo.png");
      width: 62px;
      height: 67px;
      position: relative;
      top:5%;
      left:17%;
      h2 {
        font-size: 23px;
        font-weight: bold;
        width: 50px;
        height: 23px;
        color: #ffffff;
        margin: 55px 0 0 65px;
        span {
          font-size: 22px;
          font-weight: bold;
          width: 73px;
          height: 22px;
          color: #e43556;
          margin: 55px 0 0 2px;
        }
      }
     
    }

    .navbar-nav {
      margin-top: 38px;
      .nav-link {
        color: #ffffff;
        @include media-breakpoint-up(sm) {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }

      .fa-shopping-bag {
        color: #e43556;
        width: 62px;
        height: 56px;
        @include media-breakpoint-up(sm) {
          font-size: 30px;
          background-color: #ffffff;
          padding: 9px 5px 5px 17px;
          margin-top: 20px;
        }
      }
      
      .btnsignup {
        background-color: #e43556;
        border: none;
        color: white;
        &:hover {
          color: #e43556;
          background-color: #dedede;
        }
        @include media-breakpoint-up(sm) {
          text-decoration: none;
          display: inline-block;
          border-radius: 0;
          font-size: 20px;
          width: 159px;
          height: 56px;
          margin-top: 20px;
        }
      }
  }
