header.hc-header{
  position: relative;
  .headinfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    } 

   
    nav.headinfo{
      width: 100%;
      .headtitle{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 15px;
        
        .nav-menu{
          @include media-breakpoint-down(sm){
             border: 1px solid #38ADA9;
             width: 35px;
             height: 35px;
          }
        }
        ul{
          margin-left: auto;
        }
      .logo {
        background-image: url("../images/logo.png");
        width: 62px;
        height: 67px;
       
        .logo-health{
         width: 215px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-between;
          h3 {
            font-size: 22px;
            font-weight: bold;            
            color: #e43556;
            padding-left: 15px;
          }
          h2 {
            font-size: 23px;
            font-weight: bold;
            color: #ffffff;
          }

        }
  
      }
        
    .navbar-nav {
      .nav-link {
        color: #ffffff;
        @include media-breakpoint-up(sm) {
          text-align: left;
          font-size: 20px;
          font-weight: 700;
          padding-right: 3.0rem;
        }
      }
    }
  

      .fa-shopping-bag {
        color: #e43556;
        width: 62px;
        height: 56px;
        @include media-breakpoint-up(sm) {
          font-size: 30px;
          background-color: #ffffff;
          padding: 9px 5px 5px 17px;
          
        }
      }
      .btnview{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:250px;
        i{
          display: flex;
          align-items: center;
        }
      .btnsignup {
        background-color: #e43556;
        border: none;
        color: white;
        &:hover {
          color: #e43556;
          background-color: #dedede;
        }
        @include media-breakpoint-up(sm) {
          text-decoration: none;
          display: inline-block;
          border-radius: 0;
          font-size: 20px;
          width: 159px;
          height: 56px;
        }
      }
     } 
    } 
   } 
} 