header {
  .bgimage {
    background-color: #2b4a84;
    width: 100%;
    height: 982px;
    .navbar-nav {
      .nav-link {
        font: normal Source Sans Pro;
        color: #ffffff;
        padding-top: 53px;
        @include media-breakpoint-up(sm) {
          font-size: 20px;
          font-weight: 500;
          padding-right: 2.5rem;
        }
      }
    }
    .btnsignup {
        background-color: #e43556;
        border: none;
        color: white;
        &:hover {
          color: #e43556;
          background-color: #dedede;
        }
        @include media-breakpoint-up(sm) {
          text-decoration: none;
          display: inline-block;
          border-radius: 0;
          font-size: 20px;
          width: 159px;
          height: 56px;
          margin-top: 38px;
        }
      }
      .bannertxt{
        max-width: 660px;
        width: 100%;  
        h5{
           font-size: 22px;
           color: #FFFFFF;
           margin: 176px 0 0 160px;
          }
        h1{
           font-size: 80px;
           font-weight: bolder;
           color: #FFFFFF;
           margin: 31px 27px 0 170px;
           width: 100%;
          }   
          p{
             font-size: 22px;
             text-align: left;
             margin: 35px 0 0 160px;
             line-height: 32px;
             color: #FFFFFF;
          }
      }
  }
}
