@import "node_modules/bootstrap/scss/bootstrap";

//@import "md_variables";
//@import "variables";

// scss-docs-start import-stack
@import "~bootstrap/scss/bootstrap";


@import "header";
@import "footer";

body 
  {
    font-family: 'Source Sans Pro', sans-serif;
  }

#hc-page-index {
  .container {
    max-width: 1566px;
    width: 100%;
  }
   .prod1{
     background-color: #E9F2FE;
     @include media-breakpoint-up(sm){
      width: 502px;
      height: 334px;
     }
     h3{
       color:#3A393E;
       @include media-breakpoint-up(sm){
         padding: 52px 169px 0 31px;
         font-size: 30px;
         font-weight: bolder;
       }
     }
     h5{
      color: #3A393E;
       @include media-breakpoint-up(sm){
       padding: 13px 391px 0 31px; 
       font-size: 22px;
      }
     }
     .prodinfo{
     .btnprodview{
      background-color: #e43556;
      border: none;
      color: white;
      &:hover {
        color: #e43556;
        background-color: #dedede;
      }
      @include media-breakpoint-up(sm) {
        text-decoration: none;
        display: inline-block;
        margin: 21px 304px 0 31px;
        border-radius: 0;
        font-size: 20px;
        width: 150px;
        height: 56px;
       }
     }
     img{
       width: 390px;
       height: 260px;
       }
    }
   }
}
