//@import "node_modules/bootstrap/scss/bootstrap";

//@import "md_variables";
//@import "variables";

// scss-docs-start import-stack
@import "~bootstrap/scss/bootstrap";

@import "header";
@import "footer";

body {
  font-family: "Source Sans Pro", sans-serif;
}

#hc-page-index {
  .container {
    max-width: 1566px;
    width: 100%;
  }

  .sectioninfo {
    background-color: #2b4a84;
    .bgimage2 {
      //background-color: #2b4a84;
      background-image: url("../images/virus.png");
      background-repeat: no-repeat;
      width: 100%;
      height: 982px;
      margin-top: -122px;

      .bannertxt {
        max-width: 660px;
        width: 100%;
        position: absolute;
        top:350px;
        left:270px;
        h5 {
          color: #ffffff;
          @include media-breakpoint-up(sm) {
            font-size: 22px;
            margin-bottom: 0;
          }
        }
        h1 {
          color: #ffffff;
          width: 100%;
          @include media-breakpoint-up(sm) {
            font-size: 80px;
            font-weight: bolder;
            margin-top: 31px;
          }
        }
        p {
          color: #ffffff;
          @include media-breakpoint-up(sm) {
            font-size: 18px;
          }
        }
      }

      .btnview {
        background-color: #e43556;
        border: none;
        color: white;
        &:hover {
          color: #e43556;
          background-color: #dedede;
        }
        @include media-breakpoint-up(sm) {
          text-decoration: none;
          display: inline-block;
          border-radius: 0;
          font-size: 20px;
          width: 149px;
          height: 52px;
          margin-top: 51px;
        }
      }

      .bannerimage {
        background-image: url("../images/banner.png");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        @include media-breakpoint-up(sm) {
          position: absolute;
          top: 160px;
          right: 10%;
          max-width: 610px;
          width: 100%;
          height: 885px;
        }
      }
    }
  }

  .prodinfo {
    position: relative;
    margin-top: 60px;
    .prod1 {
      background-color: #e9f2fe;
      padding: 51px 0 10px 31px;
      @include media-breakpoint-up(sm) {
        max-width: 502px;
        width: 100%;
        height: 334px;
      }
      h3 {
        color: #3a393e;
        @include media-breakpoint-up(sm) {
          font-size: 30px;
          font-weight: bolder;
        }
      }
      h5 {
        color: #3a393e;
        @include media-breakpoint-up(sm) {
          padding-top: 13px;
          font-size: 22px;
        }
      }

      .prodimg{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        bottom: 15%;
        margin-bottom: 0;     
        width: 100%;
      .btnprod {
        background-color: #e43556;
        border: none;
        color: white;
          
        position: absolute;
        &:hover {
          color: #e43556;
          background-color: #dedede;
        }
        @include media-breakpoint-up(sm) {
          text-decoration: none;
          display: inline-block;
          border-radius: 0;
          font-size: 20px;
          width: 149px;
          height: 52px;
        }
      }
      
      .image1{
        // height: 260px;
        max-width: 290px;
        width: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          }
      }
     }
    }
    .prod2{
      background-color: #E5F1F5;
      padding: 51px 0 10px 31px;
      @include media-breakpoint-up(sm) {
      max-width: 502px;
      width: 100%;
      height: 334px;
    }
    h3 {
      color: #3a393e;
      @include media-breakpoint-up(sm) {
        font-size: 30px;
        font-weight: bolder;
      }
    }
    h5 {
      color: #3a393e;
      @include media-breakpoint-up(sm) {
        padding-top: 13px;
        font-size: 22px;
      }
    }
    .prodimg2{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;     
      width: 100%;
      position: relative;
      bottom: 10px;
      right: 18px;
    .btnprod {
      background-color: #e43556;
      border: none;
      color: white;
        
      position: absolute;
      &:hover {
        color: #e43556;
        background-color: #dedede;
      }
      @include media-breakpoint-up(sm) {
        text-decoration: none;
        display: inline-block;
        border-radius: 0;
        font-size: 20px;
        width: 149px;
        height: 52px;
        position: absolute;
        bottom: 30px;
      }
    }
    
    .image2{
      max-width: 109px;
      width: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        }
     }
   }
   }
  }
  .featured{
    //margin-top: 40px;
    h3{
      margin-top: 30px;
      font-size: 24px;
      text-align: center;
    }
    h2{
      font-size: 36px;
      font-weight: bold;
      text-align: center;
    }
    .feature-1{
      margin-top: 60px;
      background-color: #E5F1F5;
      padding: 80px 50px 50px 150px;
      @include media-breakpoint-up(sm) {
        max-width: 502px;
        width: 100%;
        height: 360px;
      }
     
      .featureimg{
        max-width: 220px;
        width: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          }
        }
    }

    .prodinfo1{
      h3{
      font-size: 18px;
      font-weight: 600;
      text-align: left;
      }
    }

    .feature-2{
      margin-top: 60px;
      background-color: #e9f2fe;
      padding: 80px 50px 50px 150px;
      @include media-breakpoint-up(sm) {
        max-width: 502px;
        width: 100%;
        height: 360px;
      }
     
      .featureimg{
        max-width: 250px;
        width: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          }
        }
    }
    .prodinfo2{
      h3{
      font-size: 18px;
      font-weight: 600;
      text-align: left;
      }
    }
    .priceinfo{
      h4{
        color:#e43556;
        font-size: 18px;
        font-weight: 600;
        text-align: left;
        span{
          font-size: 14px;
          text-decoration: line-through;
          color: #808080;
          margin-left: 0.5rem;
        }
      }
    }

    .product-all{
      text-align: center;
      .btnall{
        background-color: #e43556;
        border: none;
        color: white;
        text-align: center;
        &:hover {
          color: #e43556;
          background-color: #dedede;
        }
        @include media-breakpoint-up(sm) {
          text-decoration: none;
          display: inline-block;
          border-radius: 0;
          font-size: 20px;
          width: 320px;
          height: 52px;
          margin-top: 51px;
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
    .featurebanner{
        margin-top: 40px;
        max-width: 1400px;
        width: 100%;
        height: 700px;
        background-color: #e9f2fe;
        .bannercontent{
          max-width: 655px;
          width: 100%;
          height: 278px;
          position: relative;
          top:250px;
          left:176px;
          h4{
            font-size: 18px;
            font-weight: 700;
            span{
              color: #e43556;
              font-size: 20px;
              font-weight: 700;
              margin-right: 0.5rem;
            }
          }
          h2{
            margin-top: 20px;
            font-size: 36px;
            font-weight: bold;
          }
          p{
            font-size: 18px;
            color: #808080;
          }
          .btntext{
            display: flex;
            align-items: center;
            justify-items: left;
          .btnbuy {
            background-color: #e43556;
            border: none;
            color: white;
            &:hover {
              color: #e43556;
              background-color: #dedede;
            }
            @include media-breakpoint-up(sm) {
              text-decoration: none;
              display: inline-block;
              border-radius: 0;
              font-size: 20px;
              width: 149px;
              height: 52px;
              margin-top: 51px;
            }
          } 
            h4{
              font-size: 18px;
              color: #808080;
              padding: 50px 0 0 20px;
            span{
              color: #e43556;
              font-size: 18px;
              margin-left:0.5rem;
             }
           } 
          }  
        }
        // .bannerlogo{

        //   img{
        //     max-width: 552px;
        //     width: 100%;
        //     height: 468px;
        //   } 
        // }
     }  
  }
}