<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Healthcare</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/home.css">

</head>

<body>

        <% include /src/include/header.ejs %>

        <main id="hc-page-index">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="prod1">
                              <h3>Health Security Mask Collection</h3>
                              <h5>20% Off</h5>
                            <div class="prodinfo">
                              <button class="btnprodview">View Now</button>
                              <img src="images/prod1.png">
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-4">
                        <div class="prod2">
                            <h3>Best Hand Sanitizer Collection</h3>
                            <h5>20% Off</h5>
                          <div class="prodinfo">
                            <button class="btnprodview">View Now</button>
                            <img src="images/prod2.png">
                          </div>
                      </div> 
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </main>

        <% include /src/include/footer.ejs %>

        <script src="js/home.js"></script>

</body>

</html>