<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Healthcare</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/home.css" />
  </head>

  <body>
    <% include /src/include/header.ejs %>

    <main id="hc-page-index">
      <section class="sectioninfo">
        <div class="bgimage2">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="bannertxt">
                  <h5>COVID-19 Be Aware Of Coronavirus</h5>
                  <h1>Protect Yourself From Virus.</h1>
                  <p>
                    Lorem Ipsum has been the industry's standard dummy text ever
                    since the 1500s, when an unknown printer tookng.
                  </p>
                  <button class="btnview" type="button">View Product</button>
                </div>
              </div>

              <div class="col-md-6">
                <div class="bannerimage"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="prodinfo">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="prod1">
                <h3>Health Security Mask </h3>
                <h3>Collection</h3>
                <h5>20% Off</h5>
                <div class="prodimg">
                  <div>
                     <button class="btnprod">View Now</button>
                  </div>                 
                  <div class="image1">
                    <img src="images/prod1.png" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="prod2">
                   <h3>Best Hand Sanitizer</h3>
                   <h3>Collection</h3>
                   <h5>20% Off</h5>
                   <div class="prodimg2">
                       <div>
                           <button class="btnprod">View Now</button>
                       </div>
                       <div class="image2">
                          <img src="images/prod2.png" alt="">
                       </div>
                   </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="prod1">
                <h3>Medical Gloves & Sunglasses</h3>
                <h3>Collection</h3>
                <h5>20% Off</h5>
                <div class="prodimg">
                  <div>
                     <button class="btnprod">View Now</button>
                  </div>                 
                  <div class="image1">
                    <img src="images/prod1.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     
    </main>

    <% include /src/include/footer.ejs %>

    <script src="js/home.js"></script>
  </body>
</html>
