<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Healthcare</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/home.css" />
  </head>

  <body>
    <% include /src/include/header.ejs %>

    <main id="hc-page-index">
      
      <section class="sectioninfo">
        <div class="bgimage2">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="bannertxt">
                  <h5>COVID-19 Be Aware Of Coronavirus</h5>
                  <h1>Protect Yourself From Virus.</h1>
                  <p>
                    Lorem Ipsum has been the industry's standard dummy text ever
                    since the 1500s, when an unknown printer tookng.
                  </p>
                  <button class="btnview" type="button">View Product</button>
                </div>
              </div>

              <div class="col-md-6">
                <div class="bgimage2"></div>
                <div class="bannerimage"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="prodinfo">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <div class="prod1">
                <div class="discount">
                   <span>20%<br>Off</span>
                </div>
                <h3>Health Security Mask</h3>
                <h3>Collection</h3>
                <h5>20% Off</h5>
                <div class="prodimg">
                  <div>
                    <button class="btnprod">View Now</button>
                  </div>
                  <div class="image1">
                    <img src="images/prod1.png" alt="product1" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="prod2">
                <h3>Best Hand Sanitizer</h3>
                <h3>Collection</h3>
                <h5>20% Off</h5>
                <div class="prodimg2">
                  <div>
                    <button class="btnprod">View Now</button>
                  </div>
                  <div class="image2">
                    <img src="images/prod2.png" alt="product2" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="prod1">
                <h3>Medical Gloves & Sunglasses</h3>
                <h3>Collection</h3>
                <h5>20% Off</h5>
                <div class="prodimg">
                  <div>
                    <button class="btnprod">View Now</button>
                  </div>
                  <div class="image1">
                    <img src="images/prod3.png" alt="product3" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="featured">

        <div class="container">
          <div class="row">
            <h3>Protech Your Health</h3>
            <h2>Our Featured Products</h2>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-4">
              <div class="feature-1">
                <div class="featureimg">
                  <img src="images/feature1.png" alt="featureimage1" />
                </div>
              </div>
              <div class="prodinfo1">
                <h3>Customized Resusable Face Mask</h3>
              </div>
              <div class="priceinfo">
                <h4>$20.00<span>$4.00</span></h4>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <div class="feature-2">
                <div class="featureimg">
                  <img src="images/feature2.png" alt="featureimage2" />
                </div>
              </div>
              <div class="prodinfo2">
                <h3>Young Vision Hand Sanitizer</h3>
              </div>
              <div class="priceinfo">
                <h4>$30.00<span>$2.00</span></h4>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <div class="feature-1">
                <div class="featureimg">
                  <img src="images/feature3.png" alt="featureimage3" />
                </div>
              </div>

              <div class="prodinfo1">
                <h3>Customized Resusable Face Mask</h3>
              </div>
              <div class="priceinfo">
                <h4>$35.00<span>$8.00</span></h4>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="feature-1">
                <div class="featureimg">
                  <img src="images/feature5.png" alt="featureimage4" />
                </div>
              </div>
              <div class="prodinfo1">
                <h3>Young Vision Hand Sanitizer</h3>
              </div>
              <div class="priceinfo">
                <h4>$25.00<span>$5.00</span></h4>
              </div>
            </div>

            <div class="col-md-4">
              <div class="feature-2">
                <div class="featureimg">
                  <img src="images/feature4.png" alt="featureimage5" />
                </div>
              </div>
              <div class="prodinfo1">
                <h3>Customized Resusable Face Mask</h3>
              </div>
              <div class="priceinfo">
                <h4>$10.00<span>$2.00</span></h4>
              </div>
            </div>

            <div class="col-md-4">
              <div class="feature-1">
                <div class="featureimg">
                  <img src="images/feature6.png" alt="featureimage6" />
                </div>
              </div>
              <div class="prodinfo1">
                <h3>Care Plus Medical Gloves</h3>
              </div>
              <div class="priceinfo">
                <h4>$16.00<span>$6.00</span></h4>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="product-all">
              <button class="btnall">View All Products</button>
            </div>
          </div>
        </div> 
        </div>
      </section>

      <section class="protection">
        <div class="row">
          <div class="featurebanner">
              <div class="bannercontent">
                <h4><span>COVID-19</span>Be Aware of Coronavirus</h4>
                <h2>Corona Health Protection</h2>
                <h2>Safety Kit</h2>
                <p>
                  Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s, when an unknown printer tookng.
                </p>
                <div class="btntext">
                  <button class="btnbuy" type="button">Buy Now</button>
                  <h4>Only For<span>$200</span></h4>
                </div>
              </div>
           <div class="bannerlogo">
             <div class="image-top">
                <img src="images/1.png" alt="logo1">
             </div>
             <div class="bottom-logo">
             <div class="image-bottom1">
                <img src="images/2.png" alt="logo2">
             </div>
             <div class="image-bottom2">   
                <img src="images/3.png" alt="logo3">
             </div> 
             </div> 
           </div>
          </div>
          <div class="bgimage-bottom">
            <img src="images/banner1.png" alt="banner">
          </div>    
        </div>
      </section>

      <section class="review">
        <div class="container">
          <div class="row">
            <h3>Protech Your Health</h3>
            <h2>Our Beloved Customer</h2>
          </div>
          <div class="row customercircle">

             <div class="col-md-4">
                 <div class="custinfo">
                     <img src="images/cust1.png" alt="customer1">
                 </div>    
                 <p>This is very best product lorem has been the industry's standard dummy text ever since to very the 1500s</p>
                 <h3>Eduard Franz</h3>
             </div>

             <div class="col-md-4">
              <div class="custinfo">
                  <img src="images/cust2.png" alt="customer2">
              </div>    
                 <p>This is very best product lorem has been the industry's standard dummy text ever since to very the 1500s</p>
                 <h3>Abriella Bond</h3>
             </div>

             <div class="col-md-4">
              <div class="custinfo">
                  <img src="images/cust3.png" alt="customer3">
              </div>    
                  <p>This is very best product lorem has been the industry's standard dummy text ever since to very the 1500s</p>
                  <h3>Kinslee Fink</h3>
             </div>

          </div>
        </div>
      </section>

    </main>

    <% include /src/include/footer.ejs %>

    <script src="js/home.js"></script>
  </body>
</html>