<footer class="hc-footer">
    <div class="footerbg"> 
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer1">
                    <div class="footer-logo">
                        <div class="logo-text">
                         <h3>Health</h3>
                         <h2>Care</h2>
                         </div>
                    </div>
                   <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
                   <div class="social-icon">
                     <a href="#"><i class="fab fa-facebook-square"></i></a>
                     <a href="#"><i class="fab fa-twitter-square"></i></i></a>
                     <a href="#"><i class="fab fa-youtube"></i></a>
                     <a href="#"><i class="fab fa-linkedin"></i></a>
                   </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="quick-link">
                    <h5>Links</h5>
                    <ul class="p-0">
                      <li><a href="#">Shop</a></li>
                      <li><a href="#">Product</a></li>
                      <li><a href="#">Collection</a></li>
                      <li><a href="#">About Corona</a></li>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="quick-link">
                    <h5>Company Support</h5>
                    <ul class="p-0">
                      <li><a href="#">Maintenance</a></li>
                      <li><a href="#">Support</a></li>
                      <li><a href="#">Review</a></li>
                      <li><a href="#">Contact us</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Frequently Asked Questions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="insta-img">
                    <h5>Follow us on Instagram</h5>
                    <div class="gridimg">
                        <img class="insta" src="../images/insta1.png" alt="insta1">
                        <img class="insta" src="../images/insta3.png" alt="insta3">
                        <img class="insta" src="../images/insta2.png" alt="insta2">
                    </div>
                    <div class="gridimg">
                        <img class="insta" src="../images/insta2.png" alt="insta2">
                        <img class="insta" src="../images/insta1.png" alt="insta1">
                        <img class="insta" src="../images/insta3.png" alt="insta3">
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="copyright"></div>
        </div> -->
    </div>
    </div>
</footer>