<div class="container">
  <header class="hc-header">
    <nav
      class="navbar navbar-expand-md headinfo"
      aria-label="healthcare navigation">
      <div class="container">
        <div class="headtitle">
          <div class="logo">
             <h2><span>Health</span><br />Care</h2>
          </div>  
        <button
          class="navbar-toggler nav-menu"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarhealthcare"
          aria-controls="navbarhealthcare"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarhealthcare">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Product view</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shop now</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact us</a>
            </li>
          </ul>
          <div>
            <i class="fas fa-shopping-bag"></i>
            <button class="btnsignup" type="button">Signup</button>
          </div>
        </div>
      </div>
      </div>
    </nav>
  </header>
</div>