<header class="md-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="bgimage">
          <div class="container">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <nav
                  class="navbar navbar-expand-md headinfo"
                  aria-label="Eighth navbar example">
                  <button
                    class="navbar-toggler nav-menu"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarhealthcare"
                    aria-controls="navbarhealthcare"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarhealthcare">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Product view</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Shop now</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Contact us</a>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <button class="btnsignup" type="button">Signup</button>
                  </div>  
                </nav>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="bannertxt">
                         <h5>COVID-19 Be Aware Of Coronavirus</h5>
                         <h1>Protect Yourself From Virus.</h1>
                         <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer tookng.</p>
                    </div>
                    <div>
                      <button class="btnview" type="button">View Product</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bgimg">
                       <div class="bannerimage"></div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
